@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html, body {
    background-color: #f0f0f0;
    font-family: "Montserrat", sans-serif;
}

.container-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    background-color: #E53888;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.logo {
    color: black;
    font-size: 20px;
}

.menu-hamburguer {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}

.navigation-list {
    display: flex;
}

.navigation-list li {
    margin: 0 20px;
}

.navigation-list li a {
    color: #FFEDFA;
    font-size: 20px;
}

/* estilização main */
.container-principal {
    display: flex;
    justify-content: last baseline;
    align-items: center;
    height: 90vh;
    background-color: #f0eff3;
    background-image: url("https://img.freepik.com/fotos-premium/retrato-mujer-negra-belleza-cabello-rizado_633478-2349.jpg");
    background-size: contain; /* Ajusta o tamanho da imagem */
    background-position: center right; /* Move a imagem para a direita */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

.box-conteudo {
    width: 60%;
    padding: 0 10%;
    height: 40vh;
}

.box-conteudo h2 {
    font-weight: 400;
    font-size: 25px;
    font-style: italic;
}

.title-principal {
    font-size: 60px;
    letter-spacing: 8px;
    font-weight: 300;
    text-transform: uppercase;
    /* margin: 0 0 .6em 0; */
}

.box-conteudo p {
    font-size: 19px;
    margin: 20px 0;
}

.link_principal {
    display: block;
    background-color: #E53888;
    width: fit-content;
    padding: .5em 1em;
    color: white;
    font-size: 25px;
    border-radius: 4px;
}

.link_principal:hover {
    color: black;
    border: 1px solid;
}


/* container salão */
.container_salao {
    background-color: #f0eff3;
    display: flex;
    flex-direction: column;
}

.first_box_salao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 85%;
    margin: 2em auto;
}

.first_box_salao img {
    width: 35%;
    height: 80vh;
    border-radius: 6px;
}

.first_box_salao p {
    font-size: 20px;
}

.box_icons {
    padding: 1em;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    gap: 30px;
}

.icon {
    font-size: 3em;
    color: #E53888;
    cursor: pointer;
}

.icon:hover {
    color: black;
}

.container_card {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.card_box {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
  height: 35vh;
  width: 45%;
  background-color: #E53888;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card_box p {
    font-size: 20px;
    font-weight: 200;

}

.icon-card {
    font-size: 2.5em;
    margin-bottom: .3em;
    color: #ffffff;
}

.link-card {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    border: 1px solid;
    padding: .4em 2em;
    border-radius: 4px;
    text-align: center;
}

.link-card:hover {
    border: 1px solid black;
}

/* container card services */
.container_card-services {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
} 

.container_card-services h2 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    color: #E53888;
}

.box_card-services {
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 100%;
}

.card-services {
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.img-card-service {
    width: 100%;
    height: 40vh;
}

.card-services p {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0 10px 10px;
}

.card-services a {
    background-color: #E53888;
    color: white;
    padding: .6em 1em;
    display: block;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}

.btn-services {
    margin: 1em 0;
    font-size: 20px;
    background-color: #E53888;
    padding: .7em 2em;
    color: black;
    border-radius: 8px;
}

.btn-services:hover {
    color: white;
}

/* Footer */
footer {
    background-color: #E53888;
    padding: 1em 0;
    text-align: center;
    font-size: 18px;
    color: white;
}

footer span a {
    color: white;
}

/* Responsividade */
@media (max-width: 1000px){
  .container-principal {
    background-image: none;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-conteudo {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title-principal {
    font-size: 40px;
    margin-top: 10px;
  }

  .box-conteudo p {
    font-size: 18px;
  }

  .link_principal {
    font-size: 20px;
  }
}


@media (max-width: 850px){
    .container-header {
        position: relative;
    }

    .menu-hamburguer {
        display: block;
    }

    .navigation {
        position: absolute;
        top: 57px;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #E53888;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        transition: 0.8s;
    }

    .navigation.active {
        height: 50vh;
    }

    .navigation-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        opacity: 0;
        transition: 1s;
    }

    .navigation-list.active {
        opacity: 1;
    }

    .navigation-list li a:hover {
        color: black;
    }
}